version: '3.8'

services:
  mpi_master:
    build: .
    container_name: mpi_master
    hostname: mpi_master
    networks:
      - mpi_net
    tty: true
    stdin_open: true
    command: bash /start_master.sh
    ports:
      - "2222:22"

  mpi_worker1:
    build: .
    container_name: mpi_worker1
    hostname: mpi_worker1
    networks:
      - mpi_net
    command: bash /start_worker.sh

  mpi_worker2:
    build: .
    container_name: mpi_worker2
    hostname: mpi_worker2
    networks:
      - mpi_net
    command: bash /start_worker.sh

  mpi_worker3:
    build: .
    container_name: mpi_worker3
    hostname: mpi_worker3
    networks:
      - mpi_net
    command: bash /start_worker.sh

  mpi_worker4:
    build: .
    container_name: mpi_worker4
    hostname: mpi_worker4
    networks:
      - mpi_net
    command: bash /start_worker.sh

networks:
  mpi_net:
    driver: bridge
