version: '3.8'

services:
  datagen:
    build: .
    command: python datagen_server.py
    networks:
      - pipeline-net

  preprocess:
    build: .
    command: python preprocess_server.py
    networks:
      - pipeline-net

  feature:
    build: .
    command: python feature_server.py
    networks:
      - pipeline-net

  analysis:
    build: .
    command: python analysis_server.py
    networks:
      - pipeline-net

  master:
    build: .
    command: python master_server.py
    ports:
      - "50055:50055" # Expose the master port to the host machine
    depends_on:
      - datagen
      - preprocess
      - feature
      - analysis
    networks:
      - pipeline-net

networks:
  pipeline-net:
    driver: bridge
